{% extends "base.html" %}

{% block content %}
  <div class="page-header">
    <h1>Hallinto</h1>
    
  </div>

<div class="jumbotron container-fluid">
 
 <div>
    {%if user.level>1%}
   
       
        
        {%if users>0%}
        
        <form method="post" action="{{base_path}}/muokkaakayttajia">
            <h3>Kayttajat</h3>
        {% for u in users %}
        <div class="form-group">{{u.name}}
        {%if user.level> u.level  %}
        <input class="checkbox-inline" type="checkbox" name="users[]" value="{{u.id}}">Poista käyttäjä
   {%if u.level<2  %}
        <input class="checkbox-inline" type="checkbox" name="users2[]" value="{{u.id}}">Anna moderaattorin oikeudet
    {%else%}
        <input class="checkbox-inline" type="checkbox" name="users2[]" value="{{u.id}}">Anna admin oikeudet
    {%endif%}
        {%endif%}
        </div>
        {%endfor%}
        <input class="btn btn-primary" type="submit" value="suorita">
        </form>
        {%else%}
        <p>Hakukriteerejäsi vastaavia käyttäjiä ei löytynyt</p>
        {%endif%}
        
    {%else%}
    <div class="warning">
        <p>Käyttäjätasosi ei ole riittävä hallinnointiin</p>
    </div>
    {%endif%}
    
    
   
    </div>
</div>

 
{% endblock %}
