{% extends "base.html" %}

{% block content %}
  <div class="page-header">
    <h1>Keskustelufoorumi</h1>
    
  </div>

<div class="jumbotron container-fluid">
 
    {%if error%}
<div class="alert alert-danger">
    <p>{{error}}</p>
</div>  
{%endif%}
    {%if user_logged_in%}
    <div>
        <p>Terve {{user.name}}</p>
    </div>
    {%if user.level>1%}
    <div>
        <a  class="btn btn-primary" href="{{base_path}}/hallinto">Hallinto</a>
    {%endif%}
    {%else%}
    <h2>Kirjaudu sisään</h2>
            <form name="login" id="login" action="{{base_path}}/kirjaudu" method="post">
              <div class="form-group">
                  <label for="username">Kayttajanimi</label>
                <input  class="form-control" type="text" name="username" id="username">
                </div>
              <div class="form-group">
              <label for="password">Salasana</label>
                <input class="form-control" type="password" name="password" id="password" value="salasana">
                </div>
              <div class="form-group">
                <input class="btn btn-primary" type="submit" value="kirjaudu">
              </div>
            </form>
    {%endif%}
   
    </div>

 
{% endblock %}
