{% extends "base.html" %}

{% block content %}
<div>
  <div class="page-header">
    <h1>{{topic.title}}</h1>
  </div>
    <div class="jumbotron container-fluid">
         {%for message in messages%}
<div class="panel panel-default">
   
    <div class="panel-heading"><h4 class="panel-title">{{message.user}}</h4><small>{{message.time}}</small>
    </div>
    <div class="panel-body">
     {{message.content}}
    </div>
 
    
</div>
            {%endfor%}
         {% if user_logged_in %}
        <form action="{{base_path}}/keskustelu-{{topic.id}}" method="post">
               <div class="form-group">
            <label for="content">Viestisi</label>   
            <textarea name="content" id="content" cols="24" rows="6" class="form-control">
            
            </textarea>
               </div>
            <div class="form-group">
                    <input class="btn btn-primary" type="submit" value="Lisää vastaus">
            </div>
            
         </form>
         {%endif%}

  </div>
    
</div>


 
{% endblock %}